<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Manufacturers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="nav_bar :: navbar"></div>
<div class="row justify-content-center">
    <div class="col-4">
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/manufacturers/create}" class="btn btn-primary btn-lg btn-block"
           style="margin-bottom: 20px">Create new manufacturer</a>
        <table class="table table-bordered table-hover">
            <tr>
                <th id="name" style="text-align: center">Name</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
            </tr>
            <tbody>
            <!--/*@thymesVar id="manufacturersList" type="java.util.List"*/-->
            <!--/*@thymesVar id="item" type="com.goit.learning.model.Manufacturer"*/-->
            <tr th:each="item : ${manufacturersList}">
                <td headers='name' sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href='@{/manufacturers/edit(id=${item.id},name=${item.name})}'
                       title='click to edit' th:text="${item.name}"></a>
                </td>
                <td headers="name" sec:authorize="!hasRole('ROLE_ADMIN')" th:text="${item.name}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href='@{/manufacturers/delete(id=${item.id})}'
                       class='btn btn-danger btn-md btn-block'>delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>