<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="nav_bar :: navbar"></div>
<div class="container">
    <a th:href="@{/products/create}" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 20px">
        Create new product
    </a>
    <table class="table table-bordered table-hover">
        <tr style="text-align: center">
            <th id="name">Name</th>
            <th id="price">Price</th>
            <th id="manufacturer">Manufacturer</th>
            <th id="action"></th>
        </tr>
        <tbody>
        <!--/*@thymesVar id="productsList" type="java.util.List"*/-->
        <!--/*@thymesVar id="item" type="com.goit.learning.model.Product"*/-->
        <tr th:each="item : ${productsList}">
            <td headers='name'>
                <a th:href='@{/products/edit(id=${item.id})}' title='click to edit' th:text="${item.name}"></a>
            </td>
            <td headers='price' style='text-align: right' th:text="${item.price}"></td>
            <td headers='manufacturer' th:text="${item.manufacturer.name}"></td>
            <td headers='action'>
                <a th:href='@{/products/delete(id=${item.id})}' class="btn btn-danger btn-md btn-block">
                    delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>