<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="nav_bar :: navbar"></div>
<div class="container">
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/products/create}" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 20px">
        Create new product
    </a>
    <table class="table table-bordered table-hover">
        <tr style="text-align: center">
            <th id="name">Name</th>
            <th id="price">Price</th>
            <th id="manufacturer">Manufacturer</th>
            <th sec:authorize="hasRole('ROLE_ADMIN')" id="action"></th>
        </tr>
        <tbody>
        <!--/*@thymesVar id="productsList" type="java.util.List"*/-->
        <!--/*@thymesVar id="item" type="com.goit.learning.model.Product"*/-->
        <tr th:each="item : ${productsList}">
            <td headers='name' sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href='@{/products/edit(id=${item.id})}' title='click to edit' th:text="${item.name}"></a>
            </td>
            <td headers="name" sec:authorize="!hasRole('ROLE_ADMIN')" th:text="${item.name}"></td>
            <td headers='price' style='text-align: right' th:text="${item.price}"></td>
            <td headers='manufacturer' th:text="${item.manufacturer.name}"></td>
            <td headers='action' sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href='@{/products/delete(id=${item.id})}' class="btn btn-danger btn-md btn-block">
                    delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>