<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit user</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="nav_bar :: navbar"></div>
<div class="container">
    <form th:action="@{/users/edit}" method="post">
        <div class="form-group">
            <!--/*@thymesVar id="user" type="com.goit.learning.model.User"*/-->
            <input type="hidden" name="id" th:value="${user.id}">
            <label>First name:</label>
            <input type="text" class="form-control" name="firstName" th:value="${user.firstName}"><br>
            <label>Last name:</label>
            <input type="text" class="form-control" name="lastName" th:value="${user.lastName}"><br>
            <label>Email:</label>
            <input type="email" class="form-control" name="email" th:value="${user.email}"><br>

            <br><label>Role:</label>
            <select name='role' class="form-control">
                <!--/*@thymesVar id="roles" type="com.goit.learning.model.Role []"*/-->
                <option th:each="item : ${roles}" th:value="${item}" th:utext="${item}"
                        th:selected="${item.equals(user.role)}"></option>
            </select><br>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
            <input type="submit" class="btn btn-primary" value="Update">
        </div>
    </form>
</div>
</body>
</html>