<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="nav_bar :: navbar"></div>
<div class="row justify-content-center">
    <div class="col-4">
        <table class="table table-bordered table-hover">
            <tr>
                <th id="firstName" style="text-align: center">First Name</th>
                <th id="lastName" style="text-align: center">Last Name</th>
                <th id="email" style="text-align: center">Email</th>
                <th id="role" style="text-align: center">Role</th>
                <th></th>
            </tr>
            <tbody>
            <!--/*@thymesVar id="usersList" type="java.util.List<com.goit.learning.model.User>"*/-->
            <tr th:each="item : ${usersList}">
                <td headers='firstName' th:text="${item.firstName}"></td>
                <td headers='lastName' th:text="${item.lastName}"></td>
                <td headers='email'>
                    <a th:href='@{/users/edit(email=${item.email})}' title='click to edit' th:text="${item.email}"></a>
                </td>
                <td headers='role' th:text="${item.role}"></td>
                <td>
                    <a th:href='@{/users/delete(id=${item.id})}'
                       class='btn btn-danger btn-md btn-block'>delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>