<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:include="nav_bar :: navbar"></div>
<div class="row justify-content-center">
    <div class="col-4">
        <table class="table table-bordered table-hover">
            <thead class="btn-primary">
            <tr>
                <th id="firstName" style="text-align: center">First Name</th>
                <th id="lastName" style="text-align: center">Last Name</th>
                <th id="email" style="text-align: center">Email</th>
                <th id="role" style="text-align: center">Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="usersList" type="java.util.List<com.goit.learning.model.User>"*/-->
            <tr th:each="item : ${usersList}">
                <td headers='firstName' th:text="${item.firstName}"></td>
                <td headers='lastName' th:text="${item.lastName}"></td>
                <td headers='email'>
                    <a th:href='@{/users/edit(email=${item.email})}' title='click to edit' th:text="${item.email}"></a>
                </td>
                <td headers='role' th:text="${item.role}"></td>
                <td>
                    <a th:href='@{/users/delete(id=${item.id})}'
                       class='btn btn-danger btn-md btn-block'>delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>