table {
    margin: auto;
    border: dashed;
    font-size: xx-large;
    border-spacing: 20px;
}
tr td {
    padding: 5px;
}

th {
    padding: 5px;
    text-align: start;
    border-bottom: dashed;
}
a {
    text-decoration-color: navy;
    color: navy;
}

form {
    font-size: xx-large;
    display: table;
    float: left;
    clear: both;
    text-align: right;
}

label {float:left; padding-right: 10px}

input {
    font-size: xx-large;
    border: groove;
    padding: 5px;
}