<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>manufacturers</servlet-name>
        <servlet-class>com.goit.learning.controller.manufacturer.ListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>manufacturer_delete</servlet-name>
        <servlet-class>com.goit.learning.controller.manufacturer.DeleteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>manufacturer_edit</servlet-name>
        <servlet-class>com.goit.learning.controller.manufacturer.EditServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>products</servlet-name>
        <servlet-class>com.goit.learning.controller.product.ListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>product_delete</servlet-name>
        <servlet-class>com.goit.learning.controller.product.DeleteServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>product_edit</servlet-name>
        <servlet-class>com.goit.learning.controller.product.EditServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>manufacturers</servlet-name>
        <url-pattern>/manufacturers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>products</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>manufacturer_delete</servlet-name>
        <url-pattern>/manufacturers/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>product_delete</servlet-name>
        <url-pattern>/products/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>manufacturer_edit</servlet-name>
        <url-pattern>/manufacturers/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>product_edit</servlet-name>
        <url-pattern>/products/edit</url-pattern>
    </servlet-mapping>
</web-app>
